<div class="controls saved-searches-controls">
  {{log tagSearch}}
  cat: {{tagSearch.category}}<br />
  {{category-chooser 
    value=tagSearch.category
    onChange=(action "changeSelectedCategory")
    options=(hash allowAny=false)
  }}

Tags: {{tagSearch.tags}}<br/>

{{tag-chooser
  tags=tagSearch.tags
  categoryId=tagSearch.category
  maximum=1
  onChange=(action "changeSelectedTags")
  options=(hash
    allowAny=false
  )
}}</div>