<div class="control-group category-saved-searches">
  <label class="control-label">{{i18n 'saved_searches.title'}}</label>

  <label>{{i18n 'saved_searches.description' max=maxSavedSearches}}</label>

  <br/>

  {{#each searchStrings as |search index| }}
    <div class="controls saved-searches-controls">
      {{input type="text" value=search.query class="input-xxlarge"}}
    </div>
  {{/each}}

  <label class="control-label">{{i18n 'saved_searches.title'}}</label>

  <label>{{i18n 'saved_searches.description' max=maxSavedSearches}}</label>

  <br/>
  {{!-- {{d-navigation
    category=category
    filterMode=filterMode
    noSubcategories=noSubcategories
    canCreateTopic=canCreateTopic
    createTopic=(route-action "createTopic")
    createTopicDisabled=cannotCreateTopicOnCategory
    hasDraft=draft
    editCategory=(route-action "editCategory" category)}} --}}

  {{#each tagSearchStrings as |tagSearch index| }}
    {{saved-search-tag tagSearch=tagSearch}}
  {{/each}}

</div>

{{save-controls model=this action=(action "save") saved=saved}}
